{% cache %}
    <footer class="footer">
        <div class="container">
            <div class='columns is-mobile is-multiline'>
                <div class="column is-full-mobile is-one-third-desktop">
                    <p>
                        Unsere kinderfreundliche, hochwertig eingerichtete Ferienwohnung liegt in ruhiger, zentraler Lage im Nordseebad Dornumersiel.<br>
                        <br>
                        Wir freuen uns auf euren Besuch.
                    </p>
                </div>
                <div class="column is-full-mobile is-offset-one-third-desktop is-one-third-desktop">
                    <div class="columns is-mobile is-multiline">
                        <div class="column is-half-mobile">
                            <div class="content">
                                <h3>Navigation</h3>
                                <ul>
                                    <li><a href="/">Startseite</a></li>
                                    <li><a href="/unsere-ferienwohnung">Unsere Ferienwohnung</a></li>
                                    <li><a href="/preise">Preise</a></li>
                                    <li><a href="/buchung">Buchung</a></li>
                                    <li><a href="/kontakt">Kontakt</a></li>
                                    <li><a href="/impressum">Impressum</a></li>
                                    <li><a href="/datenschutzerklaerung">Datenschutz</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="column is-half-mobile">
                            <div class="content">
                                <h3>Räume</h3>
                                <ul>
                                    <li><a href="/unsere-ferienwohnung#Wohnzimmer">Wohnzimmer</a></li>
                                    <li><a href="/unsere-ferienwohnung#Essbereich">Essbereich</a></li>
                                    <li><a href="/unsere-ferienwohnung#Küche">Küche</a></li>
                                    <li><a href="/unsere-ferienwohnung#3%20Schlafzimmer">Alle Schlafzimmer</a></li>
                                    <li><a href="/unsere-ferienwohnung#Bad%20und%20WC">Bad und WC</a></li>
                                    <li><a href="/unsere-ferienwohnung#Terrasse">Terrasse</a></li>
                                    <li><a href="/unsere-ferienwohnung#PKW%20Stellplatz%20und%20Fahrrad%20Garage">PKW Stellplatz und Fahrrad Garage</a></li>
                                    <li><a href="/unsere-ferienwohnung#Keller">Keller</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endcache %}
